.app {
  align-content: center;
}



.big-balls img{
  height: 40vh;
  width: 'auto';
}

.big-balls {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-balls:hover {
  cursor: grab;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}